In [1]:
#Q-1 importing pandas package?
import pandas as pd

In [6]:
#Q-2 Load Back Order Dataset and create a dataframe having our data?
bo_dev=pd.read_csv('BackOrders_Development.csv')

In [20]:
#Q-3 Display top 5 rows of the data?
bo_dev.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1682848,11,12.0,0,0,0,0,7,23,47,...,0,0.93,0.95,0,Yes,No,No,Yes,No,No
1,1952807,7,4.0,0,0,0,0,0,0,0,...,0,0.24,0.14,0,Yes,No,No,Yes,No,No
2,1990960,1,8.0,0,8,8,8,1,2,7,...,0,0.00,0.00,0,No,No,No,Yes,No,Yes
3,3250836,36,12.0,1,5,30,35,8,23,44,...,0,0.33,0.40,0,No,No,Yes,Yes,No,No
4,3275747,11,8.0,0,0,6,12,1,5,16,...,0,0.18,0.38,0,No,No,No,Yes,No,No

In [22]:
#Q-4 create a list with all columns of dataframe?
bo_dev.columns.tolist()

['sku',
 'national_inv',
 'lead_time',
 'in_transit_qty',
 'forecast_3_month',
 'forecast_6_month',
 'forecast_9_month',
 'sales_1_month',
 'sales_3_month',
 'sales_6_month',
 'sales_9_month',
 'min_bank',
 'potential_issue',
 'pieces_past_due',
 'perf_6_month_avg',
 'perf_12_month_avg',
 'local_bo_qty',
 'deck_risk',
 'oe_constraint',
 'ppap_risk',
 'stop_auto_buy',
 'rev_stop',
 'went_on_backorder']

In [23]:
#Q-5 Identify Distinct Unique value rates present in 'went_on_backorder'?
bo_dev['went_on_backorder'].value_counts()

No     49455
Yes    11134
Name: went_on_backorder, dtype: int64

In [24]:
#Q-5 Identify Distinct Unique values present in 'went_on_backorder'?
bo_dev['went_on_backorder'].unique()

array(['No', 'Yes'], dtype=object)

In [25]:
#Q-5 Identify Distinct Unique value rate ratios present in 'went_on_backorder'?
bo_dev['went_on_backorder'].value_counts(normalize=True)

No     0.816237
Yes    0.183763
Name: went_on_backorder, dtype: float64

In [26]:
#Q-6 Sort the DataFrame using national inventory in ascending order?
bo_dev.sort_values(by='national_inv', ascending=True)

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
21242,2167348,-2999,9.0,0,5809,5809,6187,0,9,9,...,0,0.94,0.79,2999,Yes,No,No,Yes,No,Yes
4666,1963157,-2999,9.0,0,5809,5809,6175,3,9,9,...,0,0.91,0.77,2999,Yes,No,No,Yes,No,Yes
32901,1934906,-2036,8.0,36,15000,22640,31400,1594,9162,16199,...,0,0.90,0.95,2049,Yes,No,No,Yes,No,Yes
41134,1692064,-1735,8.0,36,15000,22240,31000,2071,9508,16329,...,0,0.90,0.95,1773,Yes,No,No,Yes,No,Yes
8513,1447452,-1531,8.0,41,15000,21640,30640,2485,9979,16605,...,0,0.90,0.95,1647,Yes,No,No,Yes,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57269,1703208,223840,8.0,10,0,69600,174000,229,849,1530,...,0,-99.00,-99.00,0,No,No,No,Yes,No,No
39466,2141951,267222,8.0,900,0,0,0,0,0,0,...,0,0.00,0.00,0,No,No,No,Yes,No,No
5228,1808102,364065,8.0,250,0,0,0,1869,7322,19845,...,0,0.85,0.78,0,No,No,No,Yes,No,No
46808,1249018,366924,12.0,0,0,0,0,3010,8025,44025,...,0,0.96,0.86,0,No,No,No,Yes,No,No
48874,3069067,673445,8.0,170976,1126656,2094336,3062016,295197,934593,1799099,...,0,0.55,0.74,0,No,No,No,Yes,No,No

In [28]:
#Q-7 Identify dimensions of the data?
bo_dev.shape

(60589, 23)

In [29]:
#Q-8 Identify datatypes of all columns?
bo_dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60589 entries, 0 to 60588
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sku                60589 non-null  int64
 1   national_inv       60589 non-null  int64
 2   lead_time          57236 non-null  float64
 3   in_transit_qty     60589 non-null  int64
 4   forecast_3_month   60589 non-null  int64
 5   forecast_6_month   60589 non-null  int64
 6   forecast_9_month   60589 non-null  int64
 7   sales_1_month      60589 non-null  int64
 8   sales_3_month      60589 non-null  int64
 9   sales_6_month      60589 non-null  int64
 10  sales_9_month      60589 non-null  int64
 11  min_bank           60589 non-null  int64
 12  potential_issue    60589 non-null  object
 13  pieces_past_due    60589 non-null  int64
 14  perf_6_month_avg   60589 non-null  float64
 15  perf_12_month_avg  60589 non-null  float64
 16  local_bo_qty       60589 non-null  int64
 17  deck_risk          60589 non-null  object
 18  oe_constraint      60589 non-null  object
 19  ppap_risk          60589 non-null  object
 20  stop_auto_buy      60589 non-null  object
 21  rev_stop           60589 non-null  object
 22  went_on_backorder  60589 non-null  object
dtypes: float64(3), int64(13), object(7)
memory usage: 10.6+ MB

In [30]:
#Q-9 identify the statistical Information of the columns to explore?
bo_dev.describe()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
count,6.058900e+04,60589.000000,57236.000000,60589.000000,6.058900e+04,6.058900e+04,6.058900e+04,60589.000000,60589.000000,6.058900e+04,6.058900e+04,60589.000000,60589.000000,60589.000000,60589.000000,60589.000000
mean,2.036394e+06,288.261797,7.555210,30.437472,1.708265e+02,3.178831e+02,4.575655e+02,45.077869,151.845335,2.853457e+02,4.224266e+02,43.411956,1.623232,-6.273171,-5.874245,1.200796
std,6.561579e+05,4265.216529,6.485635,799.068768,5.329970e+03,9.854293e+03,1.431812e+04,1385.014961,5267.645534,8.944515e+03,1.280209e+04,967.401899,42.646834,25.553065,24.862925,29.784855
min,1.068628e+06,-2999.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,-99.000000,-99.000000,0.000000
25%,1.497628e+06,3.000000,4.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.620000,0.640000,0.000000
50%,1.897487e+06,10.000000,8.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2.000000,4.000000e+00,6.000000e+00,0.000000,0.000000,0.820000,0.800000,0.000000
75%,2.314114e+06,57.000000,8.000000,0.000000,1.200000e+01,2.500000e+01,3.700000e+01,6.000000,17.000000,3.400000e+01,5.100000e+01,3.000000,0.000000,0.960000,0.950000,0.000000
max,3.284895e+06,673445.000000,52.000000,170976.000000,1.126656e+06,2.094336e+06,3.062016e+06,295197.000000,934593.000000,1.799099e+06,2.631590e+06,192978.000000,7392.000000,1.000000,1.000000,2999.000000

In [32]:
#Q-10 Create a Dataframe with all forecast variables?
df=bo_dev[['forecast_3_month','forecast_6_month','forecast_9_month']]
df

       forecast_3_month  forecast_6_month  forecast_9_month
0                     0                 0                 0
1                     0                 0                 0
2                     8                 8                 8
3                     5                30                35
4                     0                 6                12
...                 ...               ...               ...
60584                24                24                24
60585                40                80               140
60586                 0                 0                 0
60587                 0                 0                 0
60588                 8                 8                 8

[60589 rows x 3 columns]

In [33]:
#Q-11 create a variable with only one column â€˜went_on_backorderâ€™
df=bo_dev[['went_on_backorder']]
df

      went_on_backorder
0                    No
1                    No
2                   Yes
3                    No
4                    No
...                 ...
60584                No
60585                No
60586                No
60587               Yes
60588               Yes

[60589 rows x 1 columns]

In [42]:
#Q-12 drop went_on_backorder from the dataframe
df1=bo_dev.drop("went_on_backorder",axis=1)
df1

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,1682848,11,12.0,0,0,0,0,7,23,47,...,No,0,0.93,0.95,0,Yes,No,No,Yes,No
1,1952807,7,4.0,0,0,0,0,0,0,0,...,No,0,0.24,0.14,0,Yes,No,No,Yes,No
2,1990960,1,8.0,0,8,8,8,1,2,7,...,No,0,0.00,0.00,0,No,No,No,Yes,No
3,3250836,36,12.0,1,5,30,35,8,23,44,...,No,0,0.33,0.40,0,No,No,Yes,Yes,No
4,3275747,11,8.0,0,0,6,12,1,5,16,...,No,0,0.18,0.38,0,No,No,No,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60584,1397275,6,8.0,0,24,24,24,0,7,9,...,No,0,0.98,0.98,0,No,No,No,Yes,No
60585,3072139,130,2.0,0,40,80,140,18,108,230,...,No,0,0.51,0.28,0,No,No,No,Yes,No
60586,1909363,135,9.0,0,0,0,0,10,40,65,...,No,0,1.00,0.99,0,No,No,Yes,Yes,No
60587,1845783,63,NaN,0,0,0,0,452,1715,3425,...,No,0,-99.00,-99.00,1,No,No,No,No,No
60588,1200539,0,2.0,0,8,8,8,0,1,1,...,No,0,0.79,0.78,0,Yes,No,No,Yes,No

In [40]:
#Q-13 create a variable with only one column â€˜skuâ€™
df=bo_dev[['sku']]
df

           sku
0      1682848
1      1952807
2      1990960
3      3250836
4      3275747
...        ...
60584  1397275
60585  3072139
60586  1909363
60587  1845783
60588  1200539

[60589 rows x 1 columns]

In [45]:
#Q-14 drop  â€˜skuâ€™ from the dataframe
df2=df1.drop("sku",axis=1)
df2

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,11,12.0,0,0,0,0,7,23,47,65,...,No,0,0.93,0.95,0,Yes,No,No,Yes,No
1,7,4.0,0,0,0,0,0,0,0,0,...,No,0,0.24,0.14,0,Yes,No,No,Yes,No
2,1,8.0,0,8,8,8,1,2,7,11,...,No,0,0.00,0.00,0,No,No,No,Yes,No
3,36,12.0,1,5,30,35,8,23,44,54,...,No,0,0.33,0.40,0,No,No,Yes,Yes,No
4,11,8.0,0,0,6,12,1,5,16,30,...,No,0,0.18,0.38,0,No,No,No,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60584,6,8.0,0,24,24,24,0,7,9,12,...,No,0,0.98,0.98,0,No,No,No,Yes,No
60585,130,2.0,0,40,80,140,18,108,230,317,...,No,0,0.51,0.28,0,No,No,No,Yes,No
60586,135,9.0,0,0,0,0,10,40,65,89,...,No,0,1.00,0.99,0,No,No,Yes,Yes,No
60587,63,NaN,0,0,0,0,452,1715,3425,4864,...,No,0,-99.00,-99.00,1,No,No,No,No,No
60588,0,2.0,0,8,8,8,0,1,1,1,...,No,0,0.79,0.78,0,Yes,No,No,Yes,No

In [50]:
#Q-15 After dropping, identify what all columns are present and there count
df2.columns.value_counts()

national_inv         1
potential_issue      1
stop_auto_buy        1
ppap_risk            1
oe_constraint        1
deck_risk            1
local_bo_qty         1
perf_12_month_avg    1
perf_6_month_avg     1
pieces_past_due      1
min_bank             1
lead_time            1
sales_9_month        1
sales_6_month        1
sales_3_month        1
sales_1_month        1
forecast_9_month     1
forecast_6_month     1
forecast_3_month     1
in_transit_qty       1
rev_stop             1
dtype: int64

In [59]:
#Q-16 create a dataframe with all categorical variables
df3=bo_dev.select_dtypes(include=['object'])
df3

,potential_issue,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,No,Yes,No,No,Yes,No,No
1,No,Yes,No,No,Yes,No,No
2,No,No,No,No,Yes,No,Yes
3,No,No,No,Yes,Yes,No,No
4,No,No,No,No,Yes,No,No
...,...,...,...,...,...,...,...
60584,No,No,No,No,Yes,No,No
60585,No,No,No,No,Yes,No,No
60586,No,No,No,Yes,Yes,No,No
60587,No,No,No,No,No,No,Yes
60588,No,Yes,No,No,Yes,No,Yes

In [60]:
#Q-17 create a dataframe with all numerical variables
df4=bo_dev.select_dtypes(include=['int','float'])
df4

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
0,1682848,11,12.0,0,0,0,0,7,23,47,65,13,0,0.93,0.95,0
1,1952807,7,4.0,0,0,0,0,0,0,0,0,0,0,0.24,0.14,0
2,1990960,1,8.0,0,8,8,8,1,2,7,11,0,0,0.00,0.00,0
3,3250836,36,12.0,1,5,30,35,8,23,44,54,2,0,0.33,0.40,0
4,3275747,11,8.0,0,0,6,12,1,5,16,30,1,0,0.18,0.38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60584,1397275,6,8.0,0,24,24,24,0,7,9,12,1,0,0.98,0.98,0
60585,3072139,130,2.0,0,40,80,140,18,108,230,317,34,0,0.51,0.28,0
60586,1909363,135,9.0,0,0,0,0,10,40,65,89,2,0,1.00,0.99,0
60587,1845783,63,NaN,0,0,0,0,452,1715,3425,4864,542,0,-99.00,-99.00,1
60588,1200539,0,2.0,0,8,8,8,0,1,1,1,0,0,0.79,0.78,0